[jumphosts]
${jumphost_ip}

[control_nodes]
%{ for ip in control_node_ips}${ip}%{ endfor }

[worker_nodes]
%{ for ip in worker_node_ips }${ip}
%{ endfor }

[kubernetes:children]
control_nodes
worker_nodes

[kubernetes:vars]
ansible_ssh_common_args='-o ProxyCommand="ssh -o UserKnownHostsFile="./Ansible/known_hosts" -i dbichel-portfolio-project-key -W %h:%p ec2-user@${jumphost_ip}"'

[all:vars]
ansible_ssh_extra_args='-o UserKnownHostsFile="./Ansible/known_hosts"'